/* CSS file for index.html */

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 25px;
    border-color: #1F2937;
}

.right-header-links{
    display: flex;
    align-items: center;
    gap: 13px;
}

.left-header-logo{
    font-size: larger;
    font-weight: bolder;
}

li{
    list-style: none;
}

/* end of header section */

/* second section */

.title-section{
    display: flex;
    color: white;
    justify-content:  space-around;
    background-color: #1F2937;
    
}

.left-title-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 30px;
    width: 350px;
}

.right-title-section{
    padding: 50px;
}
/* end of second sec. */

/* "random information" section */

.random-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.info img{
    width: 120px;
    height: auto;
    border: 3px solid darkblue;
    border-radius: 8%;
}

.info{
    max-width: 140px;
}

.imagescontainer{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 100px;
}

/* end of rand. info. section */

/* Quote section */


.quote, .quote-author{
    background-color: #E5E7EB;
}


.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quote p{
    font-style: light italic;
    font-size: 36px;
    max-width: 900px;
}

.quote-author{
    display: flex;
    width: 1920;
    justify-content: center;
}

.thor{
    display: flex;
    justify-content: flex-end;
    margin-left: 690px;
    font-size: 24px;
    font-weight: bold;
}

.quote-container{
    padding-bottom: 50px;
    margin-bottom: 50px;
}

/* Call to action */

.call-to-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3882F6;
    align-items: center;
    padding: 25px;
    margin-left: 300px;
    margin-right: 300px;
    min-width: 250px;
    border-radius: 10px;
    margin-bottom: 75px;
}

.buttonc{
    background-color: #3882F6;
    color: white;
    padding: 10px;
    margin-left: 20px;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid white;
    padding-left: 30px;
    padding-right: 30px;
}

.bold-call{
    font-weight: bold;
    font-size: large;
}

.action, .button{
    color: white;
}

/* Copyright information */

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 25px;
}



